/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #222;
    color: white;
}

/* Barra superior */
.top-bar {
    background: black;
    padding: 5px 20px;
    text-align: right;
    font-size: 14px;
}

.contact-info span {
    margin-left: 15px;
}

/* Barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #66ccff;
}

/* Estilo del menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #99ddff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #00aaff;
}


.container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(102, 204, 255, 0.7); /* Azul claro */
    width: 300px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    color: #33bbff; /* Azul vibrante */
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #33bbff; /* Azul vibrante */
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #66ccff; /* Azul claro */
    color: #111;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00aaff; /* Azul más intenso */
}
/* Contenido principal */
main {
    padding: 40px 20px;
    text-align: center;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 170, 255, 0.3); /* Efecto sutil de sombra azul */
    margin: 30px auto;
    width: 90%;
    max-width: 1000px;
}

h1 {
    color: #33bbff;
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 20px;
    color: #ddd;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
    font-family: 'Verdana', sans-serif;
    font-weight: 300;
    text-align: center;
}

img {
    width: 3%;
}

form input {
    padding-right: 1px;
}
#mensaje {
    padding: 1px;
}