/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #222;
    color: white;
}

/* Barra superior */
.top-bar {
    background: black;
    padding: 5px 20px;
    text-align: right;
    font-size: 14px;
}

.contact-info span {
    margin-left: 15px;
}

/* Barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #66ccff;
}

/* Estilo del menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #99ddff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #00aaff;
}

#fotos img{
  width: 500px;
}